Django~=5.2.0
dbca-utils==2.1.3
django-confy==1.0.4
psycopg2-binary>=2.9.4
six==1.17.0
django-cors-headers==4.7.0
gevent==25.4.2
whitenoise==6.9.0
python-decouple==3.8
git+https://github.com/dbca-wa/django-cron#egg=django-cron
git+https://github.com/dbca-wa/appmonitor_client.git#egg=appmonitor_client