<title>Parkstay - SYSTEM MAINTENANCE</title>
<head>
    
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <div class='header'>
            <div style='padding:20px; height: 100px;'>
        <img src="/static/img/parkstay_bookings_logo.png" style='height: 60px; width: auto;'>
            </div>
    </div>
    </head>
    <body>
    
    <center>
    <br><br>
    <h2>SYSTEM MAINTENANCE</h2>   
    <img src="/static/img/exclamation-mark_1.png">
    
    <div class=''>
        <div class='maintext' id='warning-message'>
             This system is currently undergoing maintenance.
            </div>
    </div>
    </center>
    <style>
    body {
        margin: 0;
    }
    .maintext {
        font-size: 24px;
        padding: 20px;
    }
    .mainbtn {
       padding:35px;
    }
    
    .header{
        height: 115px;
        padding-top: 0px;
        background-color: #003E52;
    }
    .box {
        border: 1px solid #d7d7d7;
        border-radius: 5px;
        background-color: #f3f3f3;
        width: 80%;
        margin-top: 30px;
        padding: 20px;
    }
    
    #mainbtn-click {
        display:none;
    }
    </style>
    
    </div>
    